@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,200,500|Merriweather:400,300);

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}



*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
section#splash {
	background: url(../images/portfolio.png);
	padding: 10em 0;
	height: 70vh;
	background-size: cover;
}
section#about {
	background:#ccc;
	margin-top: 5em;
	padding: 0 0 5em;
}
section#about img {
	margin:auto;
	transform:translateY(-50%);
	width: 10em;
}section#about div {
	max-width: 600px;
	margin:auto;
}
header img { width:20em; margin:auto; }
img {
	display: block;
}

h1 {
	font-size: 2em;
	font-family: 'Raleway', serif;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
}

h2 {
	font-size: 1.5em;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
}
body {
	background: #white;
	font-size: 15px;
	font-family: 'Merriweather', sans-serif;
	font-weight: 300;
	text-align: center;
}


#slogan{
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-style: italic;
	text-align: center;
}

#service {
	/* position: relative; */
	/* top:-50px; */
	transform: translateY(-50%);
}

.service {
	width:31.33%;
	float: left;
	padding:;
	margin:1%;
}
.inner {
	background: #E0C5AB;
	color: #ffffff;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	text-align: left;
	text-align: center;
	padding: 30px;
	text-decoration:none;
}



#portfolio {
	/* position: relative; */
	margin-bottom: 10em;
}

.portfolio {
	width:48%;
	float: left;
	padding: 20px;
	margin:1%;
}
.portfolio img {
	width:100%;
}

.four {
	background: #E0C5AB;
	color: #ffffff;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	text-align: left;
	text-align: center;
	padding: 30px;
}
.cta {
	background:#fff;
	border: .2em solid #e0c5ab;
	color:inherit;
	display:inline-block;
	font-size:2em;
	margin-top:1em;
	padding: 1em 2em;
	text-decoration: none;
}
.clearfix:after {
	display:block;
	visibility:hidden;
	height:0;
	content:" ";
	clear:both;
}
