*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

img {
	width: 100%;
	display: block;
}

h1 {
	font-size: 21px;
	font-family: 'Merriweather', serif;
	font-weight: 300;
	text-align: center;
}

h2 {
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-align: center;
}

p, body {
	background: #white;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-align: center;
}


#slogan{
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-style: italic;
	text-align: center;
}

#service {
	position: relative;
	top:-50px;
}

.service {
	width:33.3%;
	float: left;
	padding: 20px;
}

.service .inner {
	background: #E0C5AB;
	color: #ffffff;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	text-align: left;
	text-align: center;
	padding: 30px;
}